@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f0f0f5;
  color: #737380;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/*
  Header Style
*/

header {
  width: 100%;
  height: 50vh;
  background-color: #3157af;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  border-radius: 50%;
  transition: box-shadow 0.2s;
}

header img:hover {
  box-shadow: 0 0 5px #ccc;
}

header div {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 30px;
  width: 60%;
}

header div p {
  font-size: 24px;
  line-height: 30px;
}

header div span {
  text-transform: uppercase;
  font-size: 12px;
}

header div span + p {
  width: 70%;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
}

header div .social {
  width: 100%;
  height: 50px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

header div .social a:first-child {
  margin-right: 5px;
}

header div .social a img {
  width: 30px;
  border-radius: 0;
}

header div .social a img:hover {
  box-shadow: none;
}

/*
  Infos Style
*/

.infos {
  width: 100%;
  height: 50vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infos div {
  width: 230px;
  height: 250px;
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
}

.infos div ul {
  list-style-image: url('./assets/icons/check-circle.svg');
  color: #3157af;
}

.infos div ul li:first-child {
  list-style: none;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.infos div ul li {
  font-size: 18px;
  line-height: 25px;
  transition: opacity 0.2s;
}

.infos div ul li:hover {
  opacity: 0.7;
}

/*
  Social Style
*/

.responsive {
  width: 100%;
  height: 50vh;
  background-color: #3157af;
  color: #fff;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.responsive p {
  width: 40%;
  font-size: 22px;
  line-height: 32px;
}

.responsive div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.responsive div h1 {
  font-size: 30px;
}

/*
  Contact Style
*/

.contact {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3157af;
}

.contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact div h1 {
  font-size: 30px;
  margin-top: 40px;
}

.contact div img {
  width: 280px;
}

.contact ul {
  list-style: none;
}

.contact ul li {
  font-size: 22px;
  line-height: 32px;

  display: flex;
  align-items: center;
}

.contact ul li img {
  margin-right: 5px;
}

/*
  Footer Style
*/

footer {
  width: 100%;
  height: 15vh;
  background-color: #3157af;
  color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
}

footer a img {
  margin-right: 5px;
}

footer a:hover {
  opacity: 0.7;
}

/*
  Responsive Mobile
*/

@media screen and (max-width: 768px) {
  /*
    Header Style Mobile
  */

  header {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }

  header img {
    margin-bottom: 20px;
  }

  header div {
    width: 100%;
    margin: 0 20px;
    text-align: center;
    align-items: center;
  }

  header div span + p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

  header div .social {
    justify-content: center;
  }

  /*
    Infos Style Mobile
  */

  .infos {
    height: 100%;
    flex-direction: column;
  }

  .infos div:first-child {
    margin-top: 20px;
  }

  .infos div:last-child {
    margin-bottom: 20px;
  }

  .infos div ul {
    list-style-image: url('./assets/icons/check-circle.svg');
    color: #3157af;
  }

  .infos div ul li:first-child {
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .infos div ul li {
    font-size: 18px;
    line-height: 25px;
    transition: opacity 0.2s;
  }

  .infos div ul li:hover {
    opacity: 0.7;
  }

  /*
  Social Style Mobile
*/

  .responsive {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .responsive p {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
  }

  .responsive div {
    margin-top: 20px;
  }

  .responsive div h1 {
    font-size: 30px;
  }

  /*
  Contact Style Mobile
*/

  .contact {
    height: 100%;
    flex-direction: column;
  }

  .contact div img {
    width: 280px;
  }

  .contact ul {
    list-style: none;
    margin-bottom: 20px;
  }
}
