@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f0f0f5;
  color: #737380;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* 
  Header Style
*/

header {
  width: 100vw;
  height: 50vh;
  background-color: #3157af;

  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  border-radius: 50%;
  transition: box-shadow 0.2s;
}

header img:hover {
  box-shadow: 0 0 5px #ccc;
}

header div {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 30px;
}

header div p {
  font-size: 24px;
  line-height: 30px;
}

header div span {
  text-transform: uppercase;
  font-size: 12px;
}

header div span + p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
}

header div .social {
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

header div .social a:first-child {
  margin-right: 5px;
}

header div .social a img {
  width: 30px;
  border-radius: 0;
}

header div .social a img:hover {
  box-shadow: none;
}

/* 
  Infos Style
*/

.infos {
  width: 100vw;
  height: 50vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infos div {
  width: 200px;
  height: 200px;
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
}

.infos div ul {
  list-style-image: url('./assets/icons/check-circle.svg');
  color: #3157af;
}

.infos div ul li:first-child {
  list-style: none;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.infos div ul li {
  font-size: 18px;
  line-height: 25px;
  transition: opacity 0.2s;
}

.infos div ul li:hover {
  opacity: 0.7;
}

/* 
  Social Style
*/
